node_modules
dist
dist-tauri
uploads
outputs
*.zip
im_setup.exe
.DS_Store
.env
Testimages/New folder/IMG_5165.jpg
Testimages/New folder/IMG_5166.jpg
Testimages/New folder/IMG_5167.jpg
Testimages/New folder/IMG_5168.jpg
Testimages/New folder/IMG_5169.jpg
Testimages/New folder/IMG_5170.jpg
Testimages/New folder/IMG_5171.jpg
Testimages/New folder/IMG_5172.jpg
Testimages/New folder/IMG_5173.jpg
Testimages/New folder/IMG_5174.jpg
Testimages/New folder/IMG_5175.jpg
Testimages/New folder/IMG_5176.jpg
Testimages/New folder/IMG_5177.jpg
Testimages/New folder/IMG_5178.jpg
Testimages/New folder/IMG_5370.jpg
Testimages/New folder/IMG_5175.jpg
Testimages/New folder/IMG_5175.jpg
outputs/converted_1778736548917.zip
outputs/1778736545906/IMG_5173.CR3.jpg
Testimages/New folder/IMG_5175.jpg
